@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper */
body {
  @apply antialiased;
}
.circle-wrapper {
  position: absolute;
  width: 160px;
  height: 160px;
  pointer-events: none;
}

.circle-ring {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.45);
}

.circle-ring.main {
  border-color: white;
}
